<app-nav></app-nav>
<!-- <img src="assets/Ellipse 27.png" alt="" class="bgeclipse27">
<img src="assets/Ellipse 26.png" alt="" class="bgeclipse26">
<img src="assets/Ellipse 25.png" alt="" class="bgeclipse25">
<img src="assets/Polygon 2.png" alt="" class="bgpolygon2">
<img src="assets/Polygon 3.png" alt="" class="bgpolygon3">
<img src="assets/Polygon 4.png" alt="" class="bgpolygon4">
<img src="assets/Rectangle 5.png" alt="" class="bgrectangle5">
<img src="assets/Rectangle 6.png" alt="" class="bgrectangle6">
<img src="assets/Rectangle 7.png" alt="" class="bgrectangle7"> -->
<router-outlet></router-outlet>
