.container{
    margin-top: 100px;
    width: 2000px;
    height: 800px;
    background: rgba( 255, 255, 255, 0.25 );
    box-shadow: 0 8px 32px 0 rgba( 31, 38, 135, 0.37 );
    backdrop-filter: blur( 19px );
    -webkit-backdrop-filter: blur( 19px );
    border-radius: 20px;
    border: 1px solid rgba( 255, 255, 255, 0.18 );
}

#model1{
    margin-left: 777px;
    width: 468px;
    height: 415px;
    margin-top: 177px;
    position: relative;
    animation: imgmove 1s ease;
}

@keyframes imgmove  {
    from {
      opacity: 0;
      left: -100px;
    }
    to {
      opacity: 1;
      left: 0px;
    }
  }

#formC{
    font-family: Arial Rounded MT;
    font-size: 64px;
    color: white;
    margin-left: -620px;
    margin-top: -52px;
    padding-top: 0px;
    line-height: 1;
}

span{
    color: lime;
}

.sp{
    font-family: Arial Rounded MT;
    font-size: 25px;
    color: white;
    margin-left: 0px;
    margin-top: 30px;
    padding-top: 0px;  
    line-height: 1.4;
    position: relative;
    animation: mymove 1s ease;
}

@keyframes mymove {
  from {
    opacity: 0;
    left: -100px;
  }
  to {
    opacity: 1;
    left: 0px;
  }
}

.btn{
    background-color: lime;
    width: 160px;
    height: 60px;
    border-radius: 12px;
    font-size: 24px;
}

#eclipseH{
    margin-left: 1106px;
    margin-top: -662px;
    position: relative;
    animation: recmove 4s infinite;
}

#polygonH{
    margin-left: 1123px;
    margin-top: -830px;
    position: relative;
    animation: recmove 3s infinite;
}

#rectangleH{
    margin-left: 1171px;
    margin-top: -728px;
    position: relative;
    animation: recmove 2s infinite;
}

@keyframes recmove {
    0%{
        transform: translateY(0%);
      }
      25%{
        transform: translateY(25%);
      }
      50%{
        transform: translateY(0%);
      }
      75%{
        transform: translateY(25%);
      }
      100%{
        transform: translateY (0%);
      }
  }

form{
    margin-top: 200px;
    margin-left: 80px;
    position: relative;
    animation: formmove 1s ease;
}

@keyframes formmove {
    from {
      opacity: 0;
      left: 100px;
    }
    to {
      opacity: 1;
      left: 0px;
    }
  }

#form{
    height: 390px;
    overflow: auto;
}

::-webkit-scrollbar {
    width: 5px;
  }
  

  ::-webkit-scrollbar-track {
    box-shadow: inset 0 0 5px grey; 
    border-radius: 10px;
  }
   

  ::-webkit-scrollbar-thumb {
    background: gray; 
    border-radius: 10px;
  }
  

  ::-webkit-scrollbar-thumb:hover {
    background: lime; 
  } 

  input::-webkit-outer-spin-button,
  input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
  }
  
  input[type=number] {
    -moz-appearance: textfield;
  }

.form-control{
    background-color:transparent;
    border-top: none;
    border-left: none;
    border-right: none;
    margin-top: 20px;
    margin-bottom: 10px;
    height: 80px;
    width: 410px;
    color: white;
    font-size: 24px;
}

label{
    font-family: Arial Rounded MT;
    font-size: 25px;
    color: white;
    opacity: 50%;
}

h1{
    font-family: Arial Rounded MT;
    color: white;
    font-size: 60px;
    margin-left: 105px;
}

.btn-primary{
    font-family: Arial Rounded MT;
    width: 146px;
    height: 50px;
    background-color: lime;
    border: none;
    margin-left: 140px;
    margin-top: 20px;
    margin-bottom: 20px;
    font-size: 25px;
}

a{
    text-decoration: none;
    font-family: Arial Rounded MT;
    color: white;
    opacity: 50%;
    margin-left: 203px;
    font-size: 20px;
    
}

