<div class="container">
    <div class="row">
        <div class="col-6">
        <img src="assets/NoPath - Copy (12).png" id="model1" alt="model1">
    </div>
    <div class="col-6" id="p">
        <div class="sp">
            <p class="span"><span>Digital marketing & Design</span></p>
            <p class="title1"><u>{{data.name}}</u></p>
            <p class="title2">SEARCH ENGINE <span id="title2">OPTIMIZATION</span></p>
            <div class="information" id="information">
                <p class="pTitle">SEO</p>
                <p>Nowadays, websites are very important to promote your business. But even if you have the most beautifull and the stongest webwite, without SEO it risks to be invible. Therefore, the optimization drive to increase the visibility to the internet users and the website traffic</p>
                <p class="pTitle">SEA</p>
                <p>Search Engine Advertising is the fastest way to gain a presence on search engines. it's all about buying keywords from the google search engine through 'google adwords'. it allows you a sponsored links of an advertising campaigns on social networks leading to increase traffic in a short time.</p> 
            </div>
        </div>
    </div>
    </div>
</div>