<div class="container">
    <div class="row">
        <div class="col-6">
        <img src="assets/NoPath - Copy.png" id="model1" alt="model1">
    </div>
    <div class="col-6" id="p">
        <div class="sp">
            <p class="span"><span>IT System</span></p>
            <p class="title1"><u>{{data.name}}</u></p>
            <p class="title2">INFRASTRUCTURE <span id="title2">IT</span></p>
            <div class="information" id="information">
                <p>If you are looking to strengthen your infrastructure and support future extensions and evolution of the IT, UPTECH, with its experts offer you the prevention and implementation of your local network architecture as well as the supervision and optimization of hardware needs.</p>

                <p>Instead of a simple supplier customer relatioship, UPTECH looks for building a partnership with you by transfaring you its expertise in servers, storage, virtualization, cloud, etc...</p>
            </div>
        </div>
    </div>
    </div>
</div>


