<div class="container">
    <div class="row">
        <div class="col-6">
        <img src="assets/NoPath - Copy (15).png" id="model1" alt="model1">
    </div>
    <div class="col-6" id="p">
        <div class="sp">
            <p class="span"><span>Digital marketing & Design</span></p>
            <p class="title1"><u>{{data.name}}</u></p>
            <p class="title2">REACHING YOUR <span id="title2"> AUDIENCE</span></p>
            <div class="information" id="information">
                <p>Mobile marketing is the future of digital marketing which provides you with a closer, personal and targeted relationship with your consumers.</p>
                <p>Besides, the shortest way to charm the audience is through their smartphone. However, an adequate marketing strategy is the solution to develop your brand image, win new customers by ensuring their loyalty as well as having new sources of income.</p>
            </div>
        </div>
    </div>
    </div>
</div>