<div class="container" id="container">
    <!-- <div id="p">
        <p>Welcome Fedi Aounallah to <span>PFE</span></p>
    </div> -->
    <div class="row">
        <div class="col-6">
            <img src="assets/fedy.png" id="model1" alt="model1">
        </div>
        <div class="col-6" id="b">
            <div class="info">
                <p>{{recruitment.firstName}}</p>
                <p>{{recruitment.lastName}}</p>
                <p>{{recruitment.email}}</p>
                <p>{{recruitment.tel}}</p>
                <p>{{recruitment.birthday}}</p>
                <p>{{recruitment.adresse}}</p>
                <p>{{recruitment.profilLinkedin}}</p>
                <p>{{recruitment.levelOfStudy}}</p>
                <p>{{recruitment.speciality}}</p>
                <p>{{recruitment.experience}}</p>
                <p>{{recruitment.desiredPosition}}</p>
            </div>
            <!-- <a href="#nav"><button type="button" class="button"><span>Update Profile</span></button></a> -->
        </div>
    </div>
</div>