<div class="container">
    <div class="row">
        <div class="col-6">
        <img src="assets/NoPath - Copy (9).png" id="model1" alt="model1">
    </div>
    <div class="col-6" id="p">
        <div class="sp">
            <p class="span"><span>Development</span></p>
            <p class="title1"><u>{{data.name}}</u></p>
            <p class="title2">UPTECH,YOUR <span id="title2">WEBSITE </span>CREATOR</p>
            <div class="information" id="information">
                <p>The role of a website  is to exposing and presenting your company's offers and activities to iyour potential targets.</p>
                <p>We display developing modern, robust and scalable web platforms adaptable to user's interface by responsive interfaces.</p>
            </div>
        </div>
    </div>
    </div>
</div>


