<div class="container">
    <div class="row">
        <div class="col-6">
            <img src="assets/Component 4 – 2.png" id="model2login" alt="model1">
            <img src="assets/Ellipse 24.png" id="eclipseL" alt="">
            <img src="assets/Polygon 1.png" id="polygonL" alt="">
            <img src="assets/Rectangle 4.png" id="rectangleL" alt="">
        </div>
        <div class="col-6" id="p">
            <main class="form-signin">
                <form>
                  <h1 class="h3 mb-3 fw-normal">Log in</h1>
              
                  <div class="form-floating">
                    <input type="email" class="form-control" id="floatingInput" placeholder="name@example.com">
                    <label for="floatingInput">Email</label>
                  </div>
                  <div class="form-floating">
                    <input type="password" class="form-control" id="floatingPassword" placeholder="Password">
                    <label for="floatingPassword">Password</label>
                    <i class="far fa-eye" id="togglePassword" style="margin-left: -30px; cursor: pointer;"></i>
                  </div>
                  <button class=" btn btn-lg btn-primary" type="submit">Log in</button>
                </form>
                <a routerLink="/sign_up_enership">Create account ?</a>
              </main>
        </div>
    </div>
</div>
