<div class="container">
    <div class="row">
        <div class="col-6">
        <img src="assets/NoPath - Copy (5).png" id="model1" alt="model1">
    </div>
    <div class="col-6" id="p">
        <div class="sp">
            <p class="span"><span>IT System</span></p>
            <p class="title1"><u>ENTERPRISE RESSOURCE PLANNING</u></p>
            <p class="title2"><span id="title2">{{data.name}}</span></p>
            <div class="information" id="information">
                <p>{{data.p1}}</p>
                <p>Nowadays, the word “management” is very frequent; it is easy to pronounce but it is more complex than everyone thinks.</p>
                <p>This is why UPTECH supports you, whatever the size of your organization is, in the management process with all edges including: purchasing management, sales management, accounting management, human resources management, production management, inventory management, etc...</p>
                <p>Our software package guarantees you better coordination between departments, a customizable working environment, real-time updates while respecting the interrelation of modules as well as the uniqueness of information in order to avoid redundancy</p>
                <p>And since the most crucial axis of any business is its human ressources, we offer you a solution that ensures the internal collaboration of your staff.</p>
            </div>
        </div>
    </div>
    </div>
</div>

