<div class="container">
    <div class="row">
        <div class="col-6">
        <img src="assets/NoPath - Copy (2).png" id="model1" alt="model1">
    </div>
    <div class="col-6" id="p">
        <div class="sp">
            <p class="span"><span>IT System</span></p>
            <p class="title1"><u>{{data.name}}</u></p>
            <p class="title2">PROTECTION <span id="title2">ENDPOINT</span></p>
            <div class="information" id="information">
                <p>No one can discuss the benefits of the Internet and its role on facilitating our daily and professional lives, however its use is necessarily linked to security .</p>
            </div>
            <div class="listeTitle">
                <h1>UPTECH guarantees you:</h1>
                <ul>
                    <li>Protecting your data, applications, network and infrastructure</li>
                    <li>The integrity, confidentiality and availability of your information system</li>
                </ul>
            </div>
            <div class="listeTitle2">
                <h1>We offer you:</h1>
                <ul>
                    <li>Antivirus</li>
                    <li>Access control</li>
                    <li>Data encryption</li>
                    <li>Preventing data breaches</li>
                    <li>Real-time monitoring</li>
                </ul>
            </div>
        </div>
    </div>
    </div>
</div>


