<div class="container">
    <div class="row">
        <div class="col-6">
        <img src="assets/NoPath - Copy (4).png" id="model1" alt="model1">
    </div>
    <div class="col-6" id="p">
        <div class="sp">
            <p class="span"><span>IT System</span></p>
            <p class="title1"><u>{{data.name}}</u></p>
            <p class="title2">ANALYZE & CONCEIVE INFORMATION <span id="title2">SYSTEMS</span></p>
            <div class="information" id="information">
                <p>To manage his business well, each manager must maintain relevant information and use it to better make decisions and better organize his activity and subsequently his positioning on the market.</p>

                <p>Therefore, setting up an information system is good practice that allows you to analyze business solutions, dialogue with stakeholders and better manage the resources and elements of the organization that are interrelated.</p>

                <p>The information system is the link between the decision system that reflects, decides and controls and the operation system that produces, which is charged to generate information, memorize it, disseminate it and process it.</p>

                <p>If you are looking for a decision support tool, UPTECH provides you with a fast, reliable, honest, relevant, confidential and secure information system.</p>
            </div>
        </div>
    </div>
    </div>
</div>


