<div class="container">
    <div class="row">
        <div class="col-xs-12" id="information">
            <div class="row" >
                <div class="col-6" id="p">
                    <div class="side" id="information"  [ngSwitch]="">
                        <ul>
                            <li><a routerLink="">Users Request</a></li>
                            <li><a routerLink="/user_liste">Users List</a></li>
                            <li><a routerLink="">Contact List</a></li>
                            <li><a routerLink="">Internship Request</a></li>
                            <li><a routerLink="">Recruitment Request</a></li>
                            <li><a routerLink="">Devi Request</a></li>
                        </ul>
                    </div>                    
                    <div class="col-xs-12" id="content" ngSwitch="">
                       
                    </div>
                    </div>

            </div>                

        </div>
    </div>
</div>