<div class="container" id="container">
    <div id="p">
        <p>Welcome {{ user.name }} {{ user.FamilyName }} to <span>Web Uptech</span></p>
    </div>
    <div class="row">
        <div class="col-6">
            <a class="nav-link" routerLink="/admin" id="a" aria-current="page">
                <img src='{{imgDirectoryPath}}{{user.file}}' crossorigin="anonymous" id="model1" alt="model1" >
            </a>
        </div>
        <div class="col-6" id="b">
            <div class="info">
                <p>{{ user.FamilyName }}</p>
                <p>{{ user.name }}</p>
                <p>{{ user.email }}</p>
                <p>{{ user.PhoneNumber }}</p>
            </div>
            <!-- [routerLink]="['update_user',user._id]" -->
            <a [routerLink]="['update_admin',user._id]" ><button type="button" class="button"><span>Update Profile</span></button></a>            
        </div>
    </div>
    
    <!-- <section class="card-list">
            <article class="card" routerLink="/services">
                <header class="card-header">
                <img src="assets/sysinfo-removebg-preview.png"alt="">
                </header>
                <div class="card-author">
                    <a class="author-avatar" href="#">
                        <img src="assets/Capture-removebg-preview (7).png"alt="">
                    </a>
                    <div class="author-name">
                        <div class="author-name-prefix">IT System</div>
                    </div>
                </div>
            </article>
            <article class="card" routerLink="/dev_services">
            <header class="card-header">
                <img src="assets/Marketing-removebg-preview.png"alt="">
            </header>
            <div class="card-author">
                <a class="author-avatar" href="#">
                    <img src="assets/Capture-removebg-preview (7).png"alt="">
                </a>
                <div class="author-name">
                    <div class="author-name-prefix">Development</div>
                </div>
            </div>
            </article>
            <article class="card" routerLink="/marketing_services">
            <header class="card-header">
                <img src="assets/dev-removebg-preview.png"alt="">
            </header>
            <div class="card-author">
                <a class="author-avatar" href="#">
                    <img src="assets/Capture-removebg-preview (7).png"alt="">
                </a>
                <div class="author-name">
                    <div class="author-name-prefix">Digital marketing & Design</div>
                </div>
            </div>
            </article>
    </section> -->
    <!-- <router-outlet></router-outlet> -->
</div>



