<div class="container">
    <div class="row">
        <div class="col-6">
        <img src="assets/NoPath - Copy (7).png" id="model1" alt="model1">
    </div>
    <div class="col-6" id="p">
        <div class="sp">
            <p class="span"><span>IT System</span></p>
            <p class="title1"><u>{{data.name}}</u></p>
            <p class="title2">CLOUD  <span id="title2">COMPUTINGS</span></p>
            <div class="information" id="information">
                <p>Cloud computing  is the new form of data storage. An offer adapted to your request is at your disposal according to your needs:</p>
                <ul>
                    <li>IaaS : Infrastructure as a Service: host</li>
                    <li>PaaS : Platform as a service : build</li>
                    <li> SaaS : Software as a Service : consume</li>
                </ul>
                <p>To benefit from faster and more cost-effective implementation, anywhere access to applications and content, lower infrastructure, energy and installation costs</p>
            </div>
        </div>
    </div>
    </div>
</div>


