<div class="container">
    <div class="row">
        <div class="col-6">
        <img src="assets/NoPath - Copy (16).png" id="model1" alt="model1">
    </div>
    <div class="col-6" id="p">
        <div class="sp">
            <p class="span"><span>Digital marketing & Design</span></p>
            <p class="title1"><u>{{data.name}}</u></p>
            <p class="title2">GRAPHIC<span id="title2"> DESIGN</span></p>
            <div class="information" id="information">
                <p>In order to meet your requirements and serve you to have an exceptional visual identity, we design unique, modern and tailor-made creations respecting your graphic chart in all delicacy and attention to detail.</p>
            </div>
        </div>
    </div>
    </div>
</div>