<div class="container">
    <div class="row">
        <div class="col-6">
        <img src="assets/NoPath - Copy (13).png" id="model1" alt="model1">
    </div>
    <div class="col-6" id="p">
        <div class="sp">
                <p class="span"><span>Digital marketing & Design</span></p>
                <p class="title1"><u>{{data.name}}</u></p>
                <p class="title2">SEND THE RIGHT TYPE OF EMAIL, AT JUST THE RIGHT <span id="title2"> TIME</span></p>
                <div class="information" id="information">
                    <p>Since the first email sent in 1971, this form of communication has evolved and developed over the time so that email marketing hold nowadays a place in the business world by creating online promotion companies 40 times more effective than social networks with a market share of 82% of B2B and B2C companies.</p>
                    <p>because an email campaign should be used correctly to fulfill your strategy and in crease your brand awarness, UPtech provides you with an email marketing strategy in order to optimize your emails and go beyond the promotional concept towards engaging the target audience.</p>                
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-6">
            <div class="sp">
                <div class="information" id="information2">
                    <p>Our specialists assure you a good email marketing management adapted to your needs with personalized content, a modern and attractive design, tracking of shipments and, essential, the security of your data which allows you to have a better return on investment.</p>               
                </div>
            </div>
            <div class="col-6" id="p">
                <img src="assets/NoPath - Copy (14).png" id="model2" alt="model1">
            </div>
        </div>
    </div>
</div>