<div class="container" id="container">
    <!-- <div id="p">
        <p>Welcome Fedi Aounallah to <span>PFE</span></p>
    </div> -->
    <div class="row">
        <div class="col-6">
            <!-- <img src="assets/fedy.png" id="model1" alt="model1"> -->
            <img src='{{imgDirectoryPath}}{{internship.file}}' crossorigin="anonymous"  id="model1" alt="model1" >
        </div>
        <div class="col-6" id="b">
            <div class="info">
                <p>{{internship.firstName}}</p>
                <p>{{internship.lastName}}</p>
                <p>{{internship.Email}}</p>
                <p>{{internship.tel}}</p>
                <p>{{internship.birthday}}</p>
                <p>{{internship.adresse}}</p>
                <p>{{internship.profilLinkedin}}</p>
                <p>{{internship.levelOfStudy}}</p>
                <p>{{internship.University}}</p>
                <p>{{internship.Subsidiary}}</p>
                <p>{{internship.competences}}</p>
                <p>{{internship.certifcats}}</p>
                <p>{{internship.internshipDuration}}</p>
                <p>{{internship.startDate}}</p>
                <p>{{internship.endDate}}</p>
            </div>
            <!-- <a href="#nav"><button type="button" class="button"><span>Update Profile</span></button></a> -->
        </div>
    </div>
</div>


