<div class="container">
    <div class="row">
        <div class="col-6">
        <img src="assets/NoPath - Copy (10).png" id="model1" alt="model1">
    </div>
    <div class="col-6" id="p">
        <div class="sp">
            <p class="span"><span>Development</span></p>
            <p class="title1"><u>{{data.name}}</u></p>
            <p class="title2">YOUR CREATOR OF MOBILE APPLICATIONS: <span id="title2">ANDROID & IOS</span></p>
            <div class="information" id="information">
                <p>Mobility having become a primordial component in the strategy of companies, UPTECH offers you different types of ergonomic and intuitive mobile applications adapted to the technological evolutions of mobility, according to your needs, native mobile, hybrid mobile applications , and web synchronisation with your website</p>
            </div>
        </div>
    </div>
    </div>

</div>


