<div class="container">
    <div class="row">
        <div class="col-6">
        <img src="assets/NoPath - Copy (11).png" id="model1" alt="model1">
    </div>
    <div class="col-6" id="p">
        <div class="sp">
            <p class="span"><span>Digital marketing & Design</span></p>
            <p class="title1"><u>{{data.name}}</u></p>
            <p class="title2">ANIMATE YOUR<span id="title2"> COMMUNITY</span></p>
            <div class="information" id="information">
                <p>Any business looks for satisfying their customers and attracting new ones in order to improve its reputation.</p>
                <p>Managing social networks is the key to achieve this goal successfully, actually, you need to understand the user's interests to communicate adequate content.</p>
                <p>UP TECH offers you a community manager able to animate your social media leads you to establish a relationship with your customers afterward, following a worthy marketing strategy in order to improve your brand image.</p>

            </div>
        </div>
    </div>
    </div>                

</div>