<div class="container">
    <div class="row">
        <div class="col-6">
        <img src="assets/about-removebg-preview.png" id="model1" alt="model1">
    </div>
    <div class="col-6" id="p">
        <div class="sp">
            <p><span>Hi There</span></p>
            <p>UPTECH, fournisseur universel de technologie, vous aider à développer votre entreprise de manière digitale!</p>

            <p>Crée en 2019, UPTECH est une entreprise technologique qui transforme la façon dont les entreprises travaillent, en leur offrant des services et technologies qui stimulent l’innovation, soutiennent un développement durable et encouragent leur croissance.</p>
                
            <p>Ainsi, UP-tech fournit le lien entre les ERP et les plates-formes et l'entrepôt entraînant un traitement plus rapide de votre entreprise.</p>
        </div>
        <button type="button" class="button" routerLink="/enership_request"><span>enership request</span></button>
        <button type="button" class="button" routerLink="/recruitment"><span>recruitment request</span></button>
    </div>
    </div>
    
</div>


