<div class="container">
    <div class="row">
        <div class="col-6">
        <img src="assets/Component 7 – 1.png" id="model1" alt="model1">
        <img src="assets/Ellipse 24.png" id="eclipseH" alt="">
        <img src="assets/Polygon 1.png" id="polygonH" alt="">
        <img src="assets/Rectangle 4.png" id="rectangleH" alt="">
    </div>
    <div class="col-6" id="formC">
        <main class="form-signin">
            <form [formGroup]="signUp">
              <h1 class="h3 mb-3 fw-normal">Sign up</h1>
              <div id="form">
                    <div class="form-floating">
                        <input type="text" class="form-control" formControlName="name" [(ngModel)]="user.name" id="floatingPassword" placeholder="name@gmail.com">
                        <label for="floatingPassword">Name</label>
                    </div>
                    <div class="form-floating">
                        <input type="text" class="form-control"  formControlName="FamilyName" [(ngModel)]="user.FamilyName" id="floatingPassword" placeholder="name@gmail.com">
                        <label for="floatingPassword">Family name</label>
                    </div>
                    <div class="form-floating">
                        <input type="number" class="form-control" formControlName="PhoneNumber" [(ngModel)]="user.PhoneNumber" id="floatingPassword" placeholder="name@gmail.com">
                        <label for="floatingPassword">Phone number</label>
                    </div>
                    <div class="form-floating">
                        <input type="email" class="form-control" formControlName="email" [(ngModel)]="user.email" id="floatingPassword" placeholder="name@gmail.com">
                        <label for="floatingPassword">Email</label>
                    </div>
                    <div class="form-floating">
                        <input type="password" class="form-control" formControlName="password" [(ngModel)]="user.password" id="floatingPassword" placeholder="password">
                        <label for="floatingPassword">Password</label>
                    </div>
                    <div class="form-floating">
                        <input type="password" class="form-control" formControlName="confirmPassword" [(ngModel)]="user.confirmPassword" id="floatingPassword" placeholder="password">
                        <label for="floatingPassword">Confirm Password</label>
                    </div>
                    <div class="form-floating">
                        <input type="file" class="form-control" onchange="document.getElementById('blah').src = window.URL.createObjectURL(this.files[0])" (change)="onFilePicked($event)">
                    </div>
              </div>
              <button class=" btn btn-lg btn-primary" type="submit" routerLink="/login" (click)="register()">Sign up</button>
            </form>
        </main>
    </div>
    </div>
</div>

